<footer>
    <p>
        <span>&copy; 2016-present Juan Linietsky, Ariel Manzur.</span>
        <span>The Godot Engine logo and the Godot name are trademarks of Ariel Manzur.</span>
        <span>Website by Emilio Coppola and Hugo Locurcio.</span>
        <span>Godot icons by Andrea Calabrò.</span>
    </p>
    <p>
        <span>Contribute to the Godot Asset Library on <a href="https://github.com/godotengine/asset-library-laravel">GitHub</a>.</span>
    </p>
</footer>
