@model FeedViewModel

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Asset Name</th>
            <th scope="col">Submit Date</th>
            <th scope="col">Revision Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evt in Model.Events)
        {
            <tr>
                <td class="table-tags">
                    <status-label value="@evt.Status" />
                </td>
                <td>
                    @if (evt.AssetId == -1)
                    {
                        <text>Create</text>
                    }
                    else
                    {
                        <text>Edit</text>
                    }
                </td>
                <td>
                    @Html.ActionLink(evt.Title,"GetAssetEdit", "AssetEdit", evt.EditId)
                </td>
                <td>@evt.SubmitDate</td>
                <td>
                    @if (evt.Status == "new")
                    {
                        <text>Pending</text>
                    }
                    else
                    {
                        @evt.ModifyDate
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
