@model GetResetPasswordResult

@using (Html.BeginForm("ResetPassword", "Auth", HttpMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="new_password">New password for @Model.Username</label>
        <input type="password" name="password" class="form-control" id="new_password" placeholder="Password">
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Change password</button>
    </div>
}
